Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system
  require_serial: true

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

WIP; test suite currently hangs
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/pyproject.toml
  opsqueue/src/consumer/server/state.rs
Due: rustfmt

Makes passing the 'rustToolchain' optional
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
Due: nixfmt

Fixes compile warning of import of tracing::Span
  opsqueue/src/consumer/server/state.rs
Due: rustfmt

Vastly improve integration test suite stability
  justfile
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format, rustfmt

Reinstate pytest timeout
  justfile
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

fixup! Reinstate pytest timeout
  default.nix
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

fixup! fixup! Reinstate pytest timeout
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Skip the timeout
  libs/opsqueue_python/pyproject.toml
Due: none

Typos: Use `submission` and `TODO`
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/consumer/client.rs
Due: rustfmt

Typos: Allow the `missable` spelling
  typos.toml
Due: none

Nix: Remove duplicate commented package and sort
  extra/experimentation/shell.nix
Due: none

Reinstate pytest timeout
  default.nix
  justfile
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

Add strategic_metadata to insert_submission, SubmissionCompleted & SubmissionFailed
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  opsqueue/src/common/submission.rs
Due: ruff-check, ruff-format, rustfmt

Test SubmissionCompleted and SubmissionFailed return submission metadata
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Fix Python interface strategic_metadata type signature
  libs/opsqueue_python/python/opsqueue/producer.py
Due: ruff-check, ruff-format

Export OpenTelemetry OTLP traces using the HTTP export rather than the gRPC one, as it is much wider supported
  Cargo.lock
  Cargo.toml
  opsqueue/app/main.rs
Due: rustfmt

Improve Sentry & tracing attributes
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
Due: rustfmt

Replace 'setup-just' which depends on unpinned dependency actions
  .github/workflows/ci.yml
Due: none

opsqueue_python: Make Nix package's pname match import name
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

Bump version to v0.33.2
  Cargo.lock
  Cargo.toml
Due: none

Bump version to v0.34.0
  Cargo.lock
  Cargo.toml
Due: none

Create submissions_cancelled table
  opsqueue/migrations/20260225164600_submissions_cancelled.sql
  opsqueue/opsqueue_example_database_schema.db
Due: none

Add rust cancel_submission function
  opsqueue/src/common/submission.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Add endpoint to cancel a submission
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
Due: ruff-check, ruff-format, rustfmt

Add SubmissionCancelled to SubmissionStatus
  libs/opsqueue_python/src/common.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

fixup! Add SubmissionCancelled to SubmissionStatus
  libs/opsqueue_python/src/common.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

fixup! Add SubmissionCancelled to SubmissionStatus
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/migrations/20260225164600_submissions_cancelled.sql
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

fixup! Add SubmissionCancelled to SubmissionStatus
  libs/opsqueue_python/src/common.rs
Due: rustfmt

Cleanup cancelled submissions/chunks
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/lib.rs
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/errors.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

fixup! Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/errors.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
Due: ruff-check, ruff-format, rustfmt

fixup! Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

fixup! Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/common/errors.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
Due: ruff-check, ruff-format, rustfmt

Bump version to 0.35.0
  Cargo.lock
  Cargo.toml
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rustfmt: any of: \.rs$
  nixfmt: any of: \.nix$, but not: extra
