Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

.pre-commit-config.yaml:

repos:
  # Use local to make sure the dependencies are taken from pre-commit's own environment and
  # therefore from our nix derivation.
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: Ensure each file ends with a single newline
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace-fixer
        name: Trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
      - id: ruff-check
        name: Ruff linting
        entry: ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Ruff formatting
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
      - id: nixfmt
        name: nixfmt
        entry: nixfmt --strict
        language: system
        types: [nix]
        exclude: extra

SQL: Filter already reserved chunks from `Chunk` selection
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  opsqueue/src/common/chunk.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Flatten PreferDistinct into a single query level
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

SQL: Add metadata count FFI function
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
  workspace-hack/Cargo.toml
Due: rustfmt

SQL: Deduplicate FFI calls per distinct metadata value
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

SQL: Single FFI call
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Break ties of PreferDistinct submissions with equal counts
  Cargo.lock
  Cargo.toml
  justfile
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Bump version to 0.40.0
  Cargo.lock
  Cargo.toml
Due: none

reqwest -> reqwest-blocking
  Cargo.lock
  Cargo.toml
  workspace-hack/Cargo.toml
Due: none

Add core interface for delegation
  opsqueue/src/common/submission.rs
  opsqueue/src/server/interface.rs
Due: rustfmt

Publish submission status changes to integrations
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
Due: rustfmt

Route delegation through the core interface
  opsqueue/src/delegation/server.rs
Due: rustfmt

Use u64 in count_* functions
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Make tests timeout properly, in preparation for showing failure logs properly
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Make complete_chunk and fail_chunk not error when processing previously completed, failed, or cancelled chunks
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/src/errors.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/errors.rs
Due: ruff-check, ruff-format, rustfmt

Allow submissions to be created in a paused state
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/migrations/20260805143000_pausing.down.sql
  opsqueue/migrations/20260805143000_pausing.up.sql
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

Address feedback
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Pull out queries and EXPLAIN the now shared query
  opsqueue/src/common/submission.rs
Due: rustfmt

Address Copilot's suppressed comments
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
Due: ruff-check, ruff-format, rustfmt

Print an actionable message when `just semver` fails
  justfile
Due: none

Address feedback
  Cargo.lock
  Cargo.toml
  libs/opsqueue_python/src/producer.rs
  opsqueue/benches/chunks_select.rs
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Clarify test
  opsqueue/src/common/chunk.rs
Due: rustfmt

Use an InitialSubmissionStatus enum instead of a paused boolean
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/benches/chunks_select.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
Due: ruff-check, ruff-format, rustfmt

Add delegation support
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  opsqueue/migrations/20260811150000_submissions_external_task.down.sql
  opsqueue/migrations/20260811150000_submissions_external_task.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/delegation/mod.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/lib.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
  workspace-hack/Cargo.toml
Due: rustfmt

WIP
  opsqueue/src/delegation/server.rs
Due: rustfmt

WIP
  opsqueue/src/db/mod.rs
  opsqueue/src/delegation/server.rs
Due: rustfmt

Cleaned up
  opsqueue/src/db/mod.rs
  opsqueue/src/delegation/server.rs
Due: rustfmt

Move notify_on_submission_change next to the database calls
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/extensions.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Add some consumer client docs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/server/conn.rs
Due: rustfmt

Introduce an Extension and CoreAPI and use it
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/extension.rs
  opsqueue/src/common/extensions.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
Due: rustfmt

fixup! Introduce an Extension and CoreAPI and use it
  opsqueue/src/common/submission.rs
Due: rustfmt

Polish
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/extension.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/delegation/extension.rs
  opsqueue/src/delegation/mod.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/server.rs
Due: rustfmt

Add delegation extension
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/migrations/20260811150000_submissions_external_task.down.sql
  opsqueue/migrations/20260811150000_submissions_external_task.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/extension.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/delegation/extension.rs
  opsqueue/src/delegation/mod.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/lib.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
  workspace-hack/Cargo.toml
Due: rustfmt

snowflaked-rs back to original repo
  Cargo.lock
  Cargo.toml
Due: none

fixup! Bump the cargo group across 1 directory with 40 updates
  opsqueue/app/main.rs
Due: rustfmt

Bump 0.41.0 -> 0.41.1
  Cargo.lock
  Cargo.toml
Due: none

Add missing calls to notify_on_insert
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
Due: rustfmt

Less log spam on DEBUG level
  opsqueue/src/db/mod.rs
Due: rustfmt
