Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome, rustfmt, nixfmt

.pre-commit-config.yaml:

# Pre-commit config as used by ./build.py.
repos:
  # Use local to make sure the dependencies are taken from pre-commit's own environment and
  # therefore from our nix derivation.
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff linting
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff formatting
        entry: ruff format
        language: system
        types: [python]
      - id: biome
        name: Biome formatting
        entry: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [json]
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
      - id: nixfmt
        name: nixfmt
        entry: nixfmt --strict
        language: system
        types: [nix]
        exclude: extra
      - id: clippy
        name: Cargo clippy
        entry: cargo clippy --no-deps --fix --allow-dirty --allow-staged -- -Dwarnings
        language: system
        pass_filenames: false
      - id: end-of-file-fixer
        name: Ensure each file ends with a single newline
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace-fixer
        name: Trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

Import new more fine-grained traits
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/object_store/mod.rs
Due: rustfmt

Revert versions of opentelemetry-* to 0.26
  Cargo.lock
  opsqueue/Cargo.toml
Due: none

rename of deprecated rand::thread_rng to rand::rng
  opsqueue/src/consumer/dispatcher/metastate.rs
Due: rustfmt

Deals with changes in axum's path matching syntax introduced in axum 0.8
  opsqueue/src/producer/server.rs
Due: rustfmt

Fix cargo warning of incorrectly placed `include` key
  opsqueue/Cargo.toml
Due: none

WIP: Copy over Frida's tracing setup.
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/app/opentelemetry.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/server.rs
Due: rustfmt

Upgrade PyO3 from v0.23.5 to v0.27.2
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/consumer/server/mod.rs
Due: rustfmt

Rename `async_allow_threads` to `async_py_detach` to be in line with the new PyO3 naming.
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Timeout initiating sqlite
  opsqueue/app/main.rs
Due: rustfmt

Set the Rust version to use in Nix, in the overlay
  default.nix
  libs/opsqueue_python/opsqueue_python.nix
  nix/overlay.nix
  nix/python-overlay.nix
  opsqueue/opsqueue.nix
Due: nixfmt

Indicating the Rust version to use when building with Nix properly in the overlay
  default.nix
  nix/overlay.nix
  rust-toolchain.toml
Due: nixfmt

WIP
  nix/overlay.nix
  nix/sources.json
  opsqueue/opsqueue.nix
Due: biome, nixfmt

Build main opsqueue binary in Nix using Crane, caching deps
  nix/overlay.nix
  nix/sources.json
  opsqueue/opsqueue.nix
Due: biome, nixfmt

Bump nixpkgs version
  nix/sources.json
Due: biome

Compile opsqueue_python also with Crane (+ Maturin).
  libs/opsqueue_python/opsqueue_python.nix
  nix/overlay.nix
  nix/python-overlay.nix
Due: nixfmt

Document how the Nix Crane<->Maturin setup works
  libs/opsqueue_python/opsqueue_python.nix
  nix/overlay.nix
Due: nixfmt

Fix warning about unused Cargo.toml lib.include key
  opsqueue/Cargo.toml
Due: none

Bump Rust version in rust-toolchain.toml from 1.85 to 1.92
  justfile
  libs/opsqueue_python/pyproject.toml
  rust-toolchain.toml
Due: none

Fix lints
  .pre-commit-config.yaml
  biome.json
  libs/opsqueue_python/examples/tracing/tracing_consumer.py
  libs/opsqueue_python/examples/tracing/tracing_producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  nix/nixpkgs-pinned.nix
  opsqueue/src/consumer/server/mod.rs
Due: ruff-check, ruff-format, biome, rustfmt, nixfmt

Disable integration test timeouts, to test speed of the Nix-based integration suite run on CI
  justfile
  libs/opsqueue_python/pyproject.toml
Due: none

Make usage of `crane` an implementation detail;
  libs/opsqueue_python/opsqueue_python.nix
  nix/overlay.nix
  nix/python-overlay.nix
  opsqueue/opsqueue.nix
Due: nixfmt

Add strategic_metadata to insert_submission
  libs/opsqueue_python/python/opsqueue/producer.py
Due: ruff-check, ruff-format

Add strategic_metadata to SubmissionCompleted
  libs/opsqueue_python/src/common.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

Pin remaining GitHub Actions
  .github/workflows/ci.yml
Due: none

In tests on CI, store the test DBs in memory to fix self-hosted Semaphore runners sometimes hanging
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Build main opsqueue binary in Nix using Crane, caching deps
  .pre-commit-config.yaml
  biome.json
  justfile
  libs/opsqueue_python/examples/tracing/tracing_consumer.py
  libs/opsqueue_python/examples/tracing/tracing_producer.py
  libs/opsqueue_python/opsqueue_python.nix
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  nix/nixpkgs-pinned.nix
  nix/overlay.nix
  nix/sources.json
  opsqueue/Cargo.toml
  opsqueue/opsqueue.nix
  opsqueue/src/consumer/server/mod.rs
  rust-toolchain.toml
Due: ruff-check, ruff-format, biome, rustfmt, nixfmt

Nix: properly push to Cachix, allow overriding Python version, unify version numbers
  .semaphore/semaphore.yml
  Cargo.toml
  default.nix
  justfile
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/opsqueue_python.nix
  nix/overlay.nix
  nix/sources.json
  opsqueue/Cargo.toml
  opsqueue/opsqueue.nix
Due: biome, nixfmt

With all these Nix changes, for good measure, bump the version to 0.32.2
  Cargo.toml
Due: none

Bump rust-overlay and hopefully fix GitHub workflow cache
  .github/actions/setup-nix-direnv-rust/action.yml
  nix/sources.json
Due: biome

Small cargo update with related changes
  Cargo.lock
  opsqueue/src/consumer/common.rs
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Bump most remaining deps
  Cargo.lock
  justfile
  opsqueue/Cargo.toml
  opsqueue/src/object_store/mod.rs
Due: rustfmt

Use the new OTel Tracing Rust crate API.
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/server.rs
Due: rustfmt

Upgrade PyO3 from v0.23.5 to v0.27.2
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Add strategic_metadata to SubmissionFailed
  libs/opsqueue_python/src/common.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

fixup! Add strategic_metadata to SubmissionFailed
  libs/opsqueue_python/src/common.rs
  opsqueue/src/consumer/server/state.rs
Due: rustfmt

fixup! Add strategic_metadata to SubmissionFailed
  libs/opsqueue_python/src/common.rs
Due: rustfmt
