Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

.pre-commit-config.yaml:

repos:
  # Use local to make sure the dependencies are taken from pre-commit's own environment and
  # therefore from our nix derivation.
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: Ensure each file ends with a single newline
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace-fixer
        name: Trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
      - id: ruff-check
        name: Ruff linting
        entry: ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Ruff formatting
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
      - id: nixfmt
        name: nixfmt
        entry: nixfmt --strict
        language: system
        types: [nix]
        exclude: extra

Rust: edition 2024 with resolver 3
  Cargo.toml
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/errors.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/db/conn.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/object_store/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/prometheus.rs
  opsqueue/src/server.rs
  opsqueue/src/tracing.rs
Due: rustfmt

Test: Add `sqlx` `migrator` preventing duplicating migrations
  .pre-commit-config.yaml
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/lib.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Add ProducerClient.lookup_submission_ids_by_strategic_metadata
  Cargo.lock
  Cargo.toml
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/benchmark.py
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/common/errors.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
Due: ruff-check, ruff-format, rustfmt

SQL: Prevent duplicate `metadata_value` for `(submission_id, metadata_key)` in `submissions_metadata`
  opsqueue/migrations/20260717143000_submission_metadata_pk_by_key.down.sql
  opsqueue/migrations/20260717143000_submission_metadata_pk_by_key.up.sql
Due: none

SQL: Order by ascending metadata counts, null first
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! SQL: Order by ascending metadata counts, null first
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

SQL: Prevent duplicate `metadata_value` for `(submission_id, metadata_key)` in `submissions_metadata`
  opsqueue/migrations/20260717143000_submission_metadata_pk_by_key.down.sql
  opsqueue/migrations/20260717143000_submission_metadata_pk_by_key.up.sql
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Add PreferDistinct benchmarks & fairness harness
  default.nix
  justfile
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/tests/test_prefer_distinct_benchmark.py
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.png
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

Add failing fairness test for PreferDistinct least-busy ordering
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Make PreferDistinct fair and streamable
  opsqueue/benches/chunks_select_bench.png
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Python tooling shouldn't look at `pyproject.toml` outside the repository
  extra/experimentation/shell.nix
  justfile
  libs/opsqueue_python/examples/tracing/tracing_producer.py
  libs/opsqueue_python/pyproject.toml
  nix/overlay.nix
  nix/sources.json
  nix/util.nix
  pyproject.toml
  ruff.toml
Due: ruff-check, ruff-format, nixfmt

Clippy: Deny multiple crate versions
  Cargo.toml
  clippy.toml
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

CI: Prevent typos using pre-commit
  .pre-commit-config.yaml
  README.md
  default.nix
  doc/proposals/strategies_and_metadata.md
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
Due: ruff-check, ruff-format, nixfmt

AI: Resolve Clippy warnings
  libs/opsqueue_python/src/producer.rs
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/object_store/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
  opsqueue/src/server.rs
  opsqueue/src/tracing.rs
Due: rustfmt

AI: Resolve Clippy warnings in `opsqueue_python`
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Run: `just clippy`
  justfile
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/common.rs
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/db/conn.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/lib.rs
  opsqueue/src/object_store/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
  opsqueue/src/server.rs
  opsqueue/src/tracing.rs
Due: rustfmt

fixup! Bump the cargo group across 1 directory with 20 updates
  clippy.toml
Due: none

Fix: `sqlx` type changes
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! Fix: `sqlx` type changes
  clippy.toml
Due: none

fixup! fixup! Fix: `sqlx` type changes
  clippy.toml
Due: none

fixup! fixup! fixup! Fix: `sqlx` type changes
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Fix: `sqlx` type changes
  Cargo.lock
  clippy.toml
  opsqueue/Cargo.toml
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Tag: Stamp the binary with the git tag
  .semaphore/semaphore.yml
  justfile
  opsqueue/opsqueue.nix
  opsqueue/src/lib.rs
  opsqueue/stamp-tag.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

Add benchmark
  default.nix
  justfile
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

fixup! Add benchmark
  opsqueue/benches/chunks_select.rs
Due: rustfmt

fixup! Add benchmark
  opsqueue/benches/chunks_select_bench.png
Due: none

Prefer distinct strategy searches submissions (not counts)
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Test fairness of the prefer distinct strategy
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! Prefer distinct strategy searches submissions (not counts)
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Add random_order to submissions
  opsqueue/migrations/20260721133844_add_random_order_index_to_submissions.down.sql
  opsqueue/migrations/20260721133844_add_random_order_index_to_submissions.up.sql
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! Add benchmark
  libs/opsqueue_python/pyproject.toml
Due: none

fixup! Add random_order to submissions
  opsqueue/benches/chunks_select_bench.png
Due: none

fixup! Merge remote-tracking branch 'origin/reinier/pass_reserver_ids' into jerbaroo-prefer-distinct-ranks-submissions
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.png
  opsqueue/src/common/chunk.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! Merge remote-tracking branch 'origin/reinier/pass_metastate' into jerbaroo-prefer-distinct-ranks-submissions
  opsqueue/benches/chunks_select_bench.png
Due: none

Clippy: Doesn't block CI runs on warnings
  Cargo.toml
  clippy.toml
  justfile
Due: none

fixup! Test fairness of the prefer distinct strategy
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/consumer/strategy.rs
Due: ruff-check, ruff-format, rustfmt

Avoid duplicate materialization
  opsqueue/benches/chunks_select_bench.png
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Avoid duplicate FFI calls for the same value
  opsqueue/benches/chunks_select_bench.png
  opsqueue/src/consumer/strategy.rs
Due: rustfmt
