Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome, rustfmt, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system

biome:
  name: Biome formatting
  entry: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

Allow http(s) scheme in the producer client host string
  opsqueue/src/producer/client.rs
Due: rustfmt

Clarify consumer log message when chunk reservation expired
  opsqueue/src/consumer/client.rs
Due: rustfmt

Make consumer client reservation expired log message debug -> info level
  opsqueue/src/consumer/client.rs
Due: rustfmt

Update cargo dependencies
  Cargo.lock
Due: none

Ensure that bad HTTP status codes result in the producer retrying
  opsqueue/src/producer/client.rs
Due: rustfmt

Bump version
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Simplify .envrc
  .envrc
Due: none

Move Rust devshell code out of the nixpkgs overlay
  default.nix
  nix/overlay.nix
Due: nixfmt

Use the final-prev convention for overlays instead of self-super
  nix/overlay.nix
  nix/python-overlay.nix
Due: nixfmt

Remove unnecessary passing around of sources
  nix/overlay.nix
  nix/python-overlay.nix
Due: nixfmt

Remove vendored Nix install script
  nix/install
Due: none

Remove special pre-commit setup
  .pre-commit-config.yaml
  default.nix
  nix/overlay.nix
  pre-commit/.envrc
  pre-commit/README.md
  pre-commit/default.nix
Due: nixfmt

Fix comment referring to a private repo
  nix/overlay.nix
Due: nixfmt

Import fileFilter directly instead of via overlay
  libs/opsqueue_python/opsqueue_python.nix
  nix/overlay.nix
  nix/util.nix
  opsqueue/opsqueue.nix
Due: nixfmt

Replace ux_serde with ux
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/Cargo.toml
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/object_store/mod.rs
Due: rustfmt

Bump version
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Update versions in Cargo.lock
  Cargo.lock
Due: none

impl TryFrom<i64> for SubmissionId
  opsqueue/src/common/submission.rs
Due: rustfmt

Add `.is_healthy()` method to the Opsqueue Consumer client
  opsqueue/src/consumer/client.rs
Due: rustfmt

Bump version: 0.32.0
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

DevEx: Rust analyzer needs `rust-src` to work
  default.nix
Due: nixfmt

Log: locally bound server address
  opsqueue/app/main.rs
  opsqueue/src/server.rs
Due: rustfmt

Limit the maximum number of retries
  opsqueue/src/server.rs
Due: rustfmt

Refactor Clippy lints in `Cargo.toml` for stricter linting rules
  Cargo.toml
Due: none

Refactor `opsqueue_service` to use `wait_for_server` for `port` assignment and add utility function for server wait logic
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/util.py
Due: ruff-check, ruff-format

Release version 0.32.1
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

fixup! Refactor `opsqueue_service` to use `wait_for_server` for `port` assignment and add utility function for server wait logic
  libs/opsqueue_python/tests/__init__.py
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/util.py
Due: ruff-check, ruff-format

Nix: import `opnieuw` and `psutil`
  .envrc
  default.nix
  nix/python-overlay.nix
Due: nixfmt

fixup! Refactor `opsqueue_service` to use `wait_for_server` for `port` assignment and add utility function for server wait logic
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

fixup! Nix: import `opnieuw` and `psutil`
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

fixup! fixup! Nix: import `opnieuw` and `psutil`
  libs/opsqueue_python/pyproject.toml
Due: none

Add Dependabot configuration for `cargo` and `rust-toolchain` updates
  .github/dependabot.yml
Due: none

Use `rust-toolchain.toml` for `dependabot`
  default.nix
  rust-toolchain.toml
Due: nixfmt

fixup! Use `rust-toolchain.toml` for `dependabot`
  default.nix
  nix/sources.json
Due: biome, nixfmt

fixup! Add Dependabot configuration for `cargo` and `rust-toolchain` updates
  .github/dependabot.yml
Due: none

Use `rust-toolchain.toml` for `dependabot`
  default.nix
  nix/sources.json
  rust-toolchain.toml
Due: biome, nixfmt

Fix tungstenite's Message::Binary altered contained type.
  opsqueue/src/consumer/common.rs
Due: rustfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  biome: any of: \.json$
  rustfmt: any of: \.rs$
  nixfmt: any of: \.nix$, but not: extra
