Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system
  require_serial: true

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

[CRE-1587] - Increase retry/timeout resilience for GCS chunk retrieval
  Cargo.lock
  Cargo.toml
  opsqueue/src/object_store/mod.rs
Due: rustfmt

CI: Use `just lint`
  .github/workflows/ci.yml
  .semaphore/semaphore.yml
  justfile
Due: none

Add: cargo-semver-checks
  default.nix
  justfile
Due: nixfmt

CI: Bump actions to support `fetch-tags`
  .github/actions/setup-nix-direnv-rust/action.yml
  .github/workflows/ci.yml
Due: none

Use u64 in count_* functions
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Make complete_chunk and fail_chunk not error when processing previously completed, failed, or cancelled chunks
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/src/errors.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/errors.rs
Due: ruff-check, ruff-format, rustfmt

Make tests timeout properly, in preparation for showing failure logs properly
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Pull out queries and EXPLAIN the now shared query
  opsqueue/src/common/submission.rs
Due: rustfmt

Allow submissions to be created in a paused state
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/migrations/20260805143000_pausing.down.sql
  opsqueue/migrations/20260805143000_pausing.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

Address feedback
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Address Copilot's suppressed comments
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
Due: ruff-check, ruff-format, rustfmt

Add reservation benchmark
  Cargo.lock
  default.nix
  justfile
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

fixup! Add reservation benchmark
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt

fixup! Add reservation benchmark
  libs/opsqueue_python/pyproject.toml
Due: none

fixup! Add reservation benchmark
  opsqueue/benches/chunks_select.rs
Due: rustfmt

fixup! Add reservation benchmark
  justfile
  libs/opsqueue_python/.setup_local_venv.sh
Due: none

fixup! Add reservation benchmark
  Cargo.lock
  opsqueue/Cargo.toml
Due: none

Add failing PreferDistinct fairness test
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

PreferDistinct sorts submissions by metadata
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! PreferDistinct sorts submissions by metadata
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! PreferDistinct sorts submissions by metadata
  opsqueue/migrations/20260803133844_add_random_order_index_to_submissions.down.sql
  opsqueue/migrations/20260803133844_add_random_order_index_to_submissions.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

SQL: Prevent duplicated binds
  opsqueue/src/common/submission.rs
Due: rustfmt

SQL: Filter already reserved chunks from `Chunk` selection
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  opsqueue/src/common/chunk.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/strategy.rs
  workspace-hack/Cargo.toml
Due: rustfmt

fixup! SQL: Filter already reserved chunks from `Chunk` selection
  opsqueue/src/consumer/dispatcher/mod.rs
Due: rustfmt

Remove unused deps && adjust x/y axis
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt

Add reservation benchmark
  Cargo.lock
  default.nix
  justfile
  libs/opsqueue_python/.setup_local_venv.sh
  libs/opsqueue_python/pyproject.toml
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

Remove unnecessary `input_content.clone()` call
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

Add delegation support
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/migrations/20260811150000_submissions_external_task.down.sql
  opsqueue/migrations/20260811150000_submissions_external_task.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/delegation/mod.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/lib.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
  workspace-hack/Cargo.toml
Due: rustfmt

Pyo3: Type signatures
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

SemVer: Bump major version 0.38 -> 0.39
  Cargo.lock
  Cargo.toml
Due: none

Cargo: No default features, selectively enable features
  Cargo.lock
  Cargo.toml
  clippy.toml
  workspace-hack/Cargo.toml
Due: none

PreferDistinct sorts submissions by metadata
  opsqueue/migrations/20260803133844_add_random_order_index_to_submissions.down.sql
  opsqueue/migrations/20260803133844_add_random_order_index_to_submissions.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rustfmt: any of: \.rs$
  nixfmt: any of: \.nix$, but not: extra
