Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system
  require_serial: true

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

fixup! Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/common/errors.rs
  opsqueue/src/producer/client.rs
Due: ruff-check, ruff-format, rustfmt

fixup! Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

fixup! Add SubmissionCancelled to SubmissionStatus
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/lib.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

fixup! Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  opsqueue/src/common/submission.rs
Due: ruff-check, ruff-format, rustfmt

Stop the verbose logging/tracing of the latest metastate and of every HTTP request
  Cargo.lock
  Cargo.toml
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/server.rs
Due: rustfmt

Make explicit non-passive Sqlite WAL checkpoints
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer.py
  opsqueue/app/main.rs
  opsqueue/src/db/mod.rs
Due: ruff-check, ruff-format, rustfmt

Bump version
  Cargo.lock
  Cargo.toml
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer.py
Due: ruff-check, ruff-format

Log HTTP responses at DEBUG level rather than INFO
  opsqueue/src/server.rs
Due: rustfmt

Log the completion of zero-size submissions on DEBUG level
  Cargo.lock
  Cargo.toml
  opsqueue/src/common/submission.rs
  opsqueue/src/db/mod.rs
Due: rustfmt

Perform WAL checkpointing ten times per second
  Cargo.toml
  opsqueue/src/db/mod.rs
Due: rustfmt

Include sqlite3 in the Nix devshell, for easier debugging/introspection
  default.nix
Due: nixfmt

Cleanup cancelled submissions/chunks
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Create submissions_cancelled table
  opsqueue/migrations/20260225164600_submissions_cancelled.sql
  opsqueue/opsqueue_example_database_schema.db
Due: none

Add endpoint to cancel a submission
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
Due: ruff-check, ruff-format, rustfmt

Add rust cancel_submission function
  opsqueue/src/common/submission.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Add SubmissionCancelled to SubmissionStatus
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/migrations/20260225164600_submissions_cancelled.sql
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

Error handling when cancelling submission
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/errors.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

Bump version to 0.35.0
  Cargo.lock
  Cargo.toml
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Allow overriding Python version when calling the opsqueue_python Nix package
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

fixup! Allow overriding Python version when calling the opsqueue_python Nix package
  README.md
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

fixup! fixup! Allow overriding Python version when calling the opsqueue_python Nix package
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

fixup! fixup! fixup! Allow overriding Python version when calling the opsqueue_python Nix package
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

fixup! fixup! fixup! fixup! Allow overriding Python version when calling the opsqueue_python Nix package
  README.md
Due: none

Allow overriding Python version when calling the opsqueue_python Nix package
  README.md
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

Upgrade PyO3 to version 0.25.x, to support Python 3.14
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
Due: none

Include a py.typed marker file with the Python client
  libs/opsqueue_python/opsqueue_python.nix
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/python/opsqueue/py.typed
Due: nixfmt

Bump PyO3 to v0.25.x to allow support for Python 3.14
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
Due: none

WAL checkpointing: Explicitly checkpoint after common/large writes
  Cargo.lock
  Cargo.toml
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Fix: Typo in `strategy.rs`
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

opsqueue: ship .sqlx/ offline query metadata in published crate
  justfile
  opsqueue/Cargo.toml
Due: none

ci: add package-check to guard opsqueue cargo packaging
  .github/workflows/ci.yml
  justfile
Due: none

opsqueue: include source tree in cargo package output
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
Due: none

opsqueue: ship LICENSE in published crate via symlink
  opsqueue/Cargo.toml
  opsqueue/LICENSE
Due: none

opsqueue: refresh stale sqlx offline query cache
  opsqueue/.sqlx/query-08fd98126c44dcbd07eb449d09e238c6ea5d468ba73a8b4b1d5f2df9e4bd39b0.json
  opsqueue/.sqlx/query-0dd811053b68ee41e20c7ff47de01d98962ad16441f4205139a0654e2aa0ba22.json
  opsqueue/.sqlx/query-11d4e8c27b08ec013a154838137bab496b9e37ce482189f38eef19b20fc447f4.json
  opsqueue/.sqlx/query-13b72b517c04819669c5139d0a823e1d009a0612eeecf94ec68401d36d5434e1.json
  opsqueue/.sqlx/query-17ef938e2fc0ac7bdc09690094b055db5edcb4af140151dc389548d010de4b5f.json
  opsqueue/.sqlx/query-18f783ff8500f06825c985530486c0624c112f61a5816d4c4528f9b3151713e4.json
  opsqueue/.sqlx/query-1b27625aa012537f26c3883690577a8248470ba43a498508f4ccebaf09050ff7.json
  opsqueue/.sqlx/query-1b3e8cc0730f75e690337f1834d28d8ae98d1fb97195f47c36a7c45038edb7e8.json
  opsqueue/.sqlx/query-207eb97fe104f49008ebe798860f6340f180a1afde82dd1c08dc4b2b650fbfe2.json
  opsqueue/.sqlx/query-2b77ed3badfb9fe0fd7b88635ef9d11f88e91b1cfcef1d93e814ab2da07addcb.json
  opsqueue/.sqlx/query-374244f899617c0d53ce0ae73ac215295874fe2684ed6096c27a43a5449282e5.json
  opsqueue/.sqlx/query-3c775bc61256133ed6ea9b46ef0961f40f095482ff9f86a641506a0bbdaa6761.json
  opsqueue/.sqlx/query-3dde3eaab357df88cd1c0e0e8e833aca1fce450c2d842a2af63f0e4c128424f7.json
  opsqueue/.sqlx/query-3f8357ea4d8060e1271c7c5de41d7c98aad292a3c52002dd8031d46da35851af.json
  opsqueue/.sqlx/query-40e96fd79c38c8338bcc2f18fbc43c8f71b1c6e73e73ce5f7687db469377c137.json
  opsqueue/.sqlx/query-4e132448643131446b3e7a7a47800ef32cdbb82ea189329c7d2fb556232459e4.json
  opsqueue/.sqlx/query-5d1f0e786821af3135eb9022004308af3c683ba3cca9c97677072243289cb322.json
  opsqueue/.sqlx/query-5f7d80f5b4990d9d4e0cca6491d7a34acf1328802fda82eb2281b59a792820de.json
  opsqueue/.sqlx/query-62b1b5988a509f9722489522fbe3c650e1e04bcf51db8f97cbfb85a3e3d0c3bc.json
  opsqueue/.sqlx/query-6c3fac07b6b1b07ccdaaf0d296647176104b93c64a7a9fb85e2fd1e88ec13143.json
  opsqueue/.sqlx/query-833bc5d955f1c2455e06e9762dec84c4c24fe58c21165e6a80d0a5bfae1a3cd7.json
  opsqueue/.sqlx/query-91d3b5ff8e68c788d3209b4f1234a519eba5773d88c91635f5ffb01b1b5302fa.json
  opsqueue/.sqlx/query-c149e54e9a57cd5ded5e9e2656116ba9d04e56ffdbb41bb152ae5762475b5c78.json
  opsqueue/.sqlx/query-c30f478c0ff9f52daeed0cd1b70f6626d1f6d8fd8020f4bce41b239de4d8939f.json
  opsqueue/.sqlx/query-c4fc111b75ae4036c16042be654600dd598dddd4ee9412522b22127e5bceedc1.json
  opsqueue/.sqlx/query-c7d9c26e33f222d9b685d3a74a69c3cdd4bce3f9c4fc19e518b1d48930ba793d.json
  opsqueue/.sqlx/query-d5aa781509794455e2e8e16b2ba1485efd45597a65e4bb7ae8d2888112b3a272.json
  opsqueue/.sqlx/query-df0c7f76822d1c39794f0d9f876ea241062c3f39e110300ea849d1ad64b94580.json
  opsqueue/.sqlx/query-e282079ded2d608817a2b2d27917f097eb0ec213e5a9a4027563c44f4a05bca3.json
  opsqueue/.sqlx/query-e73afd2c8d84e6c3044f0662525f97bc8ca1d36a9305fdb959ef0e577846d606.json
  opsqueue/.sqlx/query-e92c5478fe8f1e5dee3d5e73ecf4cb3f2b7e422cefb1ecc00cf17299edec83c8.json
  opsqueue/.sqlx/query-eda8781445cef23e17446ca9007955f377d4059478a2bda4e5bd39ecd836e838.json
  opsqueue/.sqlx/query-ef677e899bf812760d0d24c9fa1fb791a5585629b14baab7a35185469c2e2e85.json
Due: none

ci: add sqlx-check + pre-commit hook to keep .sqlx/ in sync
  .pre-commit-config.yaml
  justfile
Due: none

Niv update Crane
  nix/sources.json
Due: none

Niv update rust-overlay
  nix/sources.json
Due: none

Remove the malformed `Cargo.toml` `app.include` entry
  opsqueue/.sqlx/query-08fd98126c44dcbd07eb449d09e238c6ea5d468ba73a8b4b1d5f2df9e4bd39b0.json
  opsqueue/.sqlx/query-0f5c290f571f139bc5651240ec05a9da0a4e3a22d1291bc431afe6b976156ca5.json
  opsqueue/.sqlx/query-11d4e8c27b08ec013a154838137bab496b9e37ce482189f38eef19b20fc447f4.json
  opsqueue/.sqlx/query-13b72b517c04819669c5139d0a823e1d009a0612eeecf94ec68401d36d5434e1.json
  opsqueue/.sqlx/query-17ef938e2fc0ac7bdc09690094b055db5edcb4af140151dc389548d010de4b5f.json
  opsqueue/.sqlx/query-18f783ff8500f06825c985530486c0624c112f61a5816d4c4528f9b3151713e4.json
  opsqueue/.sqlx/query-1b3e8cc0730f75e690337f1834d28d8ae98d1fb97195f47c36a7c45038edb7e8.json
  opsqueue/.sqlx/query-207eb97fe104f49008ebe798860f6340f180a1afde82dd1c08dc4b2b650fbfe2.json
  opsqueue/.sqlx/query-2b77ed3badfb9fe0fd7b88635ef9d11f88e91b1cfcef1d93e814ab2da07addcb.json
  opsqueue/.sqlx/query-3d130615a116adca109be4759b7690ad2ca3ddd1912e1539bdc209f51a2282aa.json
  opsqueue/.sqlx/query-3dde3eaab357df88cd1c0e0e8e833aca1fce450c2d842a2af63f0e4c128424f7.json
  opsqueue/.sqlx/query-3f33fea7cc44678f448d8cf3c0aeb59f155dd89f019f7c66c9609083f3a3dc6f.json
  opsqueue/.sqlx/query-40e96fd79c38c8338bcc2f18fbc43c8f71b1c6e73e73ce5f7687db469377c137.json
  opsqueue/.sqlx/query-47aa7f2a4838460952bb215bef9a036c487350a9886f9747ff0890849637070f.json
  opsqueue/.sqlx/query-5d1f0e786821af3135eb9022004308af3c683ba3cca9c97677072243289cb322.json
  opsqueue/.sqlx/query-5f7d80f5b4990d9d4e0cca6491d7a34acf1328802fda82eb2281b59a792820de.json
  opsqueue/.sqlx/query-62b1b5988a509f9722489522fbe3c650e1e04bcf51db8f97cbfb85a3e3d0c3bc.json
  opsqueue/.sqlx/query-643bc1f502a5c1cf79773ba3db2a7094263151c99f123eb5c2fa01c303b29730.json
  opsqueue/.sqlx/query-6c3fac07b6b1b07ccdaaf0d296647176104b93c64a7a9fb85e2fd1e88ec13143.json
  opsqueue/.sqlx/query-833bc5d955f1c2455e06e9762dec84c4c24fe58c21165e6a80d0a5bfae1a3cd7.json
  opsqueue/.sqlx/query-8b8e30b00dfb87367222b690744540438f1762a55694b429dfb4eeb15c230bd5.json
  opsqueue/.sqlx/query-91d3b5ff8e68c788d3209b4f1234a519eba5773d88c91635f5ffb01b1b5302fa.json
  opsqueue/.sqlx/query-a239d197e4047338a8b0a0549ce792a4326fb523efa9608b285795f9f026103a.json
  opsqueue/.sqlx/query-b7c7b04d131024ee962a37970a1dc12732c8b627522d508decaa1c164923075f.json
  opsqueue/.sqlx/query-c149e54e9a57cd5ded5e9e2656116ba9d04e56ffdbb41bb152ae5762475b5c78.json
  opsqueue/.sqlx/query-c4fc111b75ae4036c16042be654600dd598dddd4ee9412522b22127e5bceedc1.json
  opsqueue/.sqlx/query-c63e36ec8d3675dd160e289451f181cff1c82b07427f0b4d4b45132a9d3dcc6d.json
  opsqueue/.sqlx/query-c7d9c26e33f222d9b685d3a74a69c3cdd4bce3f9c4fc19e518b1d48930ba793d.json
  opsqueue/.sqlx/query-d41c3708cdd638119649b290f4a22300280f308ab8712ac5a44efd17e4680c43.json
  opsqueue/.sqlx/query-d5aa781509794455e2e8e16b2ba1485efd45597a65e4bb7ae8d2888112b3a272.json
  opsqueue/.sqlx/query-e282079ded2d608817a2b2d27917f097eb0ec213e5a9a4027563c44f4a05bca3.json
  opsqueue/.sqlx/query-e73afd2c8d84e6c3044f0662525f97bc8ca1d36a9305fdb959ef0e577846d606.json
  opsqueue/.sqlx/query-e92c5478fe8f1e5dee3d5e73ecf4cb3f2b7e422cefb1ecc00cf17299edec83c8.json
  opsqueue/.sqlx/query-eda8781445cef23e17446ca9007955f377d4059478a2bda4e5bd39ecd836e838.json
  opsqueue/.sqlx/query-ef677e899bf812760d0d24c9fa1fb791a5585629b14baab7a35185469c2e2e85.json
  opsqueue/Cargo.toml
Due: none

Bump version to v0.35.2
  Cargo.toml
Due: none

fix: make clippy recipe fail on warnings
  Cargo.lock
  justfile
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rustfmt: any of: \.rs$
  nixfmt: any of: \.nix$, but not: extra
