Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system
  require_serial: true

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

Feat: stream completed chunks
  .vscode/opsqueue.code-workspace
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Fix: address clippy errors
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Fix: update imports
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

fixup! Fix: update imports
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Fix: ensure strategy oldest
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
Due: ruff-check, ruff-format, rustfmt

Fix: update completion order in test
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Fix: update query plan for submission status
  opsqueue/src/common/submission.rs
Due: rustfmt

Fix: revert other strategy changes
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Fix: revert other test changes
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! Fix: revert other test changes
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Fix: ensure backwards compatability
  opsqueue/src/common/submission.rs
Due: rustfmt

Fix: extend test suite
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

fixup! Fix: extend test suite
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Fix: document error and remove redundant must use
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Fix: bump version
  Cargo.lock
  Cargo.toml
Due: none

Fix: use context manager for service
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Fix: update assert
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Fix: prevent complete pickle
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Feat: support prefer distinct with underlying oldest strategy
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Feat: ignore attr defined
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Fix: format over multiple lines
  libs/opsqueue_python/python/opsqueue/producer.py
Due: ruff-check, ruff-format

Fix: remove trailing whitespace
  libs/opsqueue_python/python/opsqueue/producer.py
Due: ruff-check, ruff-format

Fix: reduce polling overhead in chunk streaming
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Fix: tests and lints
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Fix: types
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Add state diagram for chunks
  README.md
Due: none

fixup! Add state diagram for chunks
  README.md
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rustfmt: any of: \.rs$
  nixfmt: any of: \.nix$, but not: extra
