Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome, rustfmt, nixfmt

.pre-commit-config.yaml:

# Pre-commit config as used by ./build.py.
repos:
  # Use local to make sure the dependencies are taken from pre-commit's own environment and
  # therefore from our nix derivation.
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff linting
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff formatting
        entry: ruff format
        language: system
        types: [python]
      - id: biome
        name: Biome formatting
        entry: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [json]
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
      - id: nixfmt
        name: nixfmt
        entry: nixfmt --strict
        language: system
        types: [nix]
        exclude: extra
      - id: clippy
        name: Cargo clippy
        entry: cargo clippy --no-deps --fix --allow-dirty --allow-staged -- -Dwarnings
        language: system
        pass_filenames: false
      - id: end-of-file-fixer
        name: Ensure each file ends with a single newline
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace-fixer
        name: Trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

Fix the 'cutting the deck' for the random strategy
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Bump versions
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Make a tiny README change so we can trigger a new tag release (v33)
  README.md
Due: none

Fix paths for building and starting opsqueue during tests
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Acquire the GIL only per chunk
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Quit (timeout) Python test suite on suspected deadlock
  justfile
  libs/opsqueue_python/pyproject.toml
Due: none

A messy bit of code to reduce (fix?) deadlocks in the PyChunksIter/PyChunksAsyncIter
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

So close yet so far: An attempt at using `async` in PyO3 directly
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

WIP
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

fixup! Fix paths for building and starting opsqueue during tests
  libs/opsqueue_python/tests/conftest.py
  opsqueue/src/consumer/server/conn.rs
Due: ruff-check, ruff-format, rustfmt

Clarify why we're using a 1-thread multi_threaded Tokio runtime in the documentation of its construction
  libs/opsqueue_python/src/common.rs
Due: rustfmt

Ensure test suite times out after 30 seconds, so we fail early on deadlocks (rather than 45min later)
  justfile
  libs/opsqueue_python/pyproject.toml
Due: none

Add new helper functions to cleanly turn Rust futures into Python futures, and ensure we can unlock the GIL in coroutines as well
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Fix GIL usage of PyChunksIter/PyChunksAsyncIter's __next__ and __anext__ methods.
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Bump version numbers
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

README: Add double whitespace also present on internal version
  README.md
Due: none

Fix warnings about missing links in docs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/object_store/mod.rs
Due: rustfmt

Delete commented-out code
  libs/opsqueue_python/src/lib.rs
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/object_store/mod.rs
Due: rustfmt

Run linter
  libs/opsqueue_python/src/common.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Improve docs and public API of producer module somewhat
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/mod.rs
Due: rustfmt

Fix pytest-timeout option not found warning
  default.nix
Due: nixfmt

Allow the opsqueue consumer client to be cloned
  opsqueue/src/consumer/client.rs
Due: rustfmt

Add `.is_healthy()` method to the Opsqueue Consumer client
  opsqueue/src/consumer/client.rs
Due: rustfmt

bump version up
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Ensure the opsqueue client can also build in Nix without the Nix sandbox.
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

Make the maximum submission age configurable
  opsqueue/app/main.rs
  opsqueue/src/config.rs
Due: rustfmt

Bump version to 0.30.7
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Show more detailed error message for internal producer errors
  opsqueue/src/producer/client.rs
Due: rustfmt

Allow configuring the max number of chunk retries
  opsqueue/src/common/chunk.rs
  opsqueue/src/config.rs
  opsqueue/src/consumer/server/mod.rs
Due: rustfmt
