Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome, rustfmt, mypy, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system

biome:
  name: Biome formatting
  entry: biome format --write
  language: system

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system

mypy:
  name: mypy
  entry: mypy --strict ./libs/opsqueue_python
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

Turn on Sentry
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
Due: rustfmt

Add Sentry support:
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/src/server.rs
Due: rustfmt

Also send 'Internal Server Errors' to Sentry
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Make MyPy happy
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format, mypy

Handle exceptions in Python:
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_rountrip.py
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
Due: ruff-check, ruff-format, rustfmt, mypy

Making a tiny README-only change so we can make a new deploy tag with OpsBotPrime
  README.md
Due: none

Replace fix-whitespace by pre-commit builtins
  .pre-commit-config.yaml
Due: none

Add the hooks deps to Nix and yeet fix-whitespace
  .pre-commit-config.yaml
  libs/opsqueue_python/.gitignore
  nix/overlay.nix
Due: nixfmt

Switch Rust overlay to a smaller alternative 500MB less Nix closure size!
  nix/nixpkgs-pinned.nix
  nix/overlay.nix
  nix/sources.json
Due: biome, nixfmt

Document Nix file
  nix/overlay.nix
Due: nixfmt

Ensures Opsqueue continues running if DB is newer than code
  opsqueue/src/db/mod.rs
Due: rustfmt

Stop Opsqueue from sending traces to Sentry
  opsqueue/app/main.rs
Due: rustfmt

Ensure `object_store`'s `gcp` feature flag is enabled
  Cargo.lock
  doc/proposals/strategies_and_metadata.md
  opsqueue/Cargo.toml
Due: none

Add submissions_metadata and chunks_metadata tables
  Cargo.lock
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/Cargo.toml
  opsqueue/migrations/20250104155558_add_strategic_metadata.down.sql
  opsqueue/migrations/20250104155558_add_strategic_metadata.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/mod.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/consumer/strategy2.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Check generated queries + their query plans
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/migrations/20250104155558_add_strategic_metadata.down.sql
  opsqueue/migrations/20250104155558_add_strategic_metadata.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/consumer/strategy2.rs
Due: rustfmt

Metastate abstraction
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/migrations/20250104155558_add_strategic_metadata.up.sql
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/metastate.rs
  opsqueue/src/consumer/mod.rs
  opsqueue/src/consumer/reserver.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/consumer/strategy2.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Accept strategic metadata from the Python client
  README.md
  libs/opsqueue_python/python/opsqueue/consumer.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_rountrip.py
  opsqueue/migrations/20250104155558_add_strategic_metadata.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/metastate.rs
  opsqueue/src/consumer/mod.rs
  opsqueue/src/consumer/reserver.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/consumer/strategy2.rs
Due: ruff-check, ruff-format, rustfmt, mypy

Introduce the 'Dispatcher' in-between a Consumer state and the Reserver+MetaState
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/conftest.py
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/dispatcher/metastate.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/mod.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/producer/common.rs
Due: ruff-check, ruff-format, rustfmt, mypy

A tiny README-only improvement, allowing us to add an extra tag
  README.md
Due: none

Fix the examples:
  libs/opsqueue_python/examples/capitalize_text/capitalize_text_consumer.py
  libs/opsqueue_python/examples/integer_increment/integer_increment_consumer.py
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer.py
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_consumer.py
  libs/opsqueue_python/examples/tracing/tracing_consumer.py
Due: ruff-check, ruff-format, mypy

Ensure failed chunk durations are counted in their own histogram
  opsqueue/src/prometheus.rs
Due: rustfmt

Fix the chunks in backlog gauge
  opsqueue/src/common/chunk.rs
Due: rustfmt

Ensures that failed chunks are not removed twice from the backlog Prometheus gauge
  opsqueue/src/common/chunk.rs
Due: rustfmt

Improve test running & ensure data cleanup runs periodically
  build.py
  opsqueue/app/main.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/server.rs
Due: ruff-check, ruff-format, rustfmt, mypy

Change all the ? query parameters to $ parameters
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

Leak the app config at startup
  opsqueue/app/main.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/server.rs
Due: rustfmt

Refactor: use assert_matches in some tests
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/src/common/submission.rs
Due: rustfmt

Automatically mark empty submissions as finished
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Remove NonZero requirement for chunk count
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
Due: rustfmt

Use UUIDv7 instead of UUIDv4 where relevant
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/producer.rs
  opsqueue/Cargo.toml
  opsqueue/src/consumer/server/conn.rs
Due: rustfmt

Bump PyO3 version from 0.22 to 0.23, and migrate code incompatibilities
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Rewrite deprecated IntoPy impl to IntoPyObject for CError
  libs/opsqueue_python/src/errors.rs
Due: rustfmt

Clippy + fmt
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Make the Ctrl+C work correctly snappy
  libs/opsqueue_python/examples/integer_increment/integer_increment_consumer.py
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
Due: ruff-check, ruff-format, rustfmt, mypy

re-run linting
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
Due: rustfmt

WIP some rudimentary support for async Python in the Producer client.
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer_async.py
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
Due: ruff-check, ruff-format, rustfmt, mypy

Removing debug-logging
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/examples/integer_increment/integer_increment_consumer.py
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer_async.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
Due: ruff-check, ruff-format, rustfmt, mypy

fmt
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer_async.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format, rustfmt, mypy

Async python error handling
  libs/opsqueue_python/examples/integer_increment/integer_increment_consumer.py
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer_async.py
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
Due: ruff-check, ruff-format, rustfmt, mypy

Upgrade the async code to the new PyO3 version
  Cargo.lock
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  biome: any of: \.json$
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
  nixfmt: any of: \.nix$, but not: extra
