Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

ruff-check:
  name: Ruff linting
  entry: ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: Ruff formatting
  entry: ruff format
  language: system
  require_serial: true

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt --strict
  language: system

Use u64 in count_* functions
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Make complete_chunk and fail_chunk not error when processing previously completed, failed, or cancelled chunks
  libs/opsqueue_python/python/opsqueue/exceptions.py
  libs/opsqueue_python/src/errors.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/errors.rs
Due: ruff-check, ruff-format, rustfmt

Allow submissions to be created in a paused state
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/migrations/20260715143000_pausing.down.sql
  opsqueue/migrations/20260715143000_pausing.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: ruff-check, ruff-format, rustfmt

Make tests timeout properly, in preparation for showing failure logs properly
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

CI: Double compute performance, halve build jobs
  .semaphore/semaphore.yml
Due: none

Add: `cargo hakari` prevents rebuilding libraries using different flags
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  default.nix
  justfile
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
  workspace-hack/.gitattributes
  workspace-hack/Cargo.toml
  workspace-hack/build.rs
  workspace-hack/src/lib.rs
Due: rustfmt, nixfmt

Cargo: Move dependencies definitions to workspace
  Cargo.toml
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

better benchmark
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.png
  opsqueue/benches/plot_chunks_select.py
  opsqueue/migrations/20260721133844_add_random_order_index_to_submissions.up.sql
Due: ruff-check, ruff-format, rustfmt

Cargo: Remove unused dependencies
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  workspace-hack/Cargo.toml
Due: none

Cargo: Share edition from workspace
  Cargo.toml
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Cargo: No default features, selectively enable features
  Cargo.lock
  Cargo.toml
  clippy.toml
  workspace-hack/Cargo.toml
Due: none

fixup! Cargo: No default features, selectively enable features
  Cargo.lock
  Cargo.toml
Due: none

fixup! Add: `cargo hakari` prevents rebuilding libraries using different flags
  Cargo.lock
  workspace-hack/Cargo.toml
Due: none

Nix: Prebuilt `sqlite`
  Cargo.lock
  Cargo.toml
  default.nix
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
  workspace-hack/Cargo.toml
Due: nixfmt

Add reservation benchmark
  default.nix
  justfile
  opsqueue/Cargo.toml
  opsqueue/benches/chunks_select.rs
  opsqueue/benches/chunks_select_bench.svg
  opsqueue/benches/plot_chunks_select.py
Due: ruff-check, ruff-format, rustfmt, nixfmt

fixup! Nix: Prebuilt `sqlite`
  libs/opsqueue_python/opsqueue_python.nix
Due: nixfmt

fixup! fixup! Nix: Prebuilt `sqlite`
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! fixup! fixup! Nix: Prebuilt `sqlite`
  default.nix
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
Due: nixfmt

fixup! fixup! fixup! fixup! Nix: Prebuilt `sqlite`
  .github/workflows/ci.yml
Due: none

fixup! fixup! fixup! fixup! fixup! Nix: Prebuilt `sqlite`
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
Due: nixfmt

SQLX: Keep database in sync with migrations
  .pre-commit-config.yaml
  opsqueue/opsqueue_example_database_schema.db
Due: none

Nix: Prebuilt `sqlite`
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  default.nix
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
  opsqueue/src/consumer/strategy.rs
  workspace-hack/Cargo.toml
Due: rustfmt, nixfmt

Switch to `unicode.rs` for `url` via `idna_adapter` version pinning
  Cargo.toml
Due: none

Clippy: Add `itertools`
  clippy.toml
Due: none

Cargo: Remove unused dependencies
  .gitattributes
  Cargo.lock
  Cargo.toml
  opsqueue/Cargo.toml
  workspace-hack/Cargo.toml
Due: none

Feat: stream completed chunks
  .vscode/opsqueue.code-workspace
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/errors.rs
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format, rustfmt

Fix: address clippy errors
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Add image
  opsqueue/benches/chunks_select_bench.svg
Due: none

Examples: Mark processes with `daemon=True`
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_consumer.py
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_consumer_preferdistinct.py
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_producer_many.py
Due: ruff-check, ruff-format

CI: Stacktraces of `pytest` and `xdist`-workers on `timeout`
  justfile
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Just: Parallelize `lint-heavy`
  justfile
Due: none

Set sentry::ClientOptions::in_app_include
  opsqueue/app/main.rs
Due: rustfmt

Replace error formatting with error field in tracing calls
  libs/opsqueue_python/src/consumer.rs
  opsqueue/app/main.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/server/conn.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
  opsqueue/src/server.rs
  opsqueue/src/tracing.rs
Due: rustfmt

Do not include error sources in display formattings
  libs/opsqueue_python/src/errors.rs
  opsqueue/src/common/errors.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/object_store/mod.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

v0.37.0
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rustfmt: any of: \.rs$
  nixfmt: any of: \.nix$, but not: extra
