Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, rustfmt, nixfmt

.pre-commit-config.yaml:

repos:
  # Use local to make sure the dependencies are taken from pre-commit's own environment and
  # therefore from our nix derivation.
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: Ensure each file ends with a single newline
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace-fixer
        name: Trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
      - id: ruff-check
        name: Ruff linting
        entry: ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Ruff formatting
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
      - id: nixfmt
        name: nixfmt
        entry: nixfmt --strict
        language: system
        types: [nix]
        exclude: extra

Add chunks_done field to submissions_failed
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/tests/test_roundtrip.py
  opsqueue/migrations/20260429173300_add_chunks_done_to_submissions_failed.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/submission.rs
Due: ruff-check, ruff-format, rustfmt

Bump version to 0.35.3
  Cargo.lock
  Cargo.toml
Due: none

[CRE-1299] - support white listed requests
  libs/opsqueue_python/src/common.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

feat(common): backwards compatibility for strategic metadata
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/common.rs
Due: rustfmt

fix(common): split into multiple tests
  opsqueue/src/common/submission.rs
Due: rustfmt

Bump object_store to 0.14.0
  Cargo.lock
  opsqueue/Cargo.toml
Due: none

Cleanup strategy query building
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Draft
  opsqueue/src/common/submission.rs
  opsqueue/src/delegation/mod.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/lib.rs
Due: rustfmt

Vibe it
  opsqueue/Cargo.toml
  opsqueue/migrations/20260709130000_add_jm_task_id.down.sql
  opsqueue/migrations/20260709130000_add_jm_task_id.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/submission.rs
  opsqueue/src/config.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/server.rs
Due: rustfmt

Implement /job/kill
  opsqueue/migrations/20260709160000_jm_task_id_indexes.down.sql
  opsqueue/migrations/20260709160000_jm_task_id_indexes.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/delegation/server.rs
Due: rustfmt

Implement submission pausing and job_return
  opsqueue/migrations/20260709170000_add_paused_to_submissions.down.sql
  opsqueue/migrations/20260709170000_add_paused_to_submissions.up.sql
  opsqueue/opsqueue_example_database_schema.db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
  opsqueue/src/delegation/server.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/common.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
Due: rustfmt

job_return: pause submission instead of cancelling
  opsqueue/src/delegation/server.rs
Due: rustfmt

job_return: delegate reporting to background loop via paused + jm_task_id
  opsqueue/src/delegation/server.rs
Due: rustfmt

opsqueue_python: expose paused parameter for submission insertion
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
Due: ruff-check, ruff-format, rustfmt

Test: Record SQL queries
  Cargo.lock
  default.nix
  opsqueue/Cargo.toml
  opsqueue/src/consumer/strategy.rs
Due: rustfmt, nixfmt

fix: make clippy recipe fail on warnings
  justfile
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Drop: Chunks metadata table
  opsqueue/migrations/20260710113337_drop_chunks_metadata.sql
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

replace snowflaked to avoid conflicts
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/benches/snowflake_compare.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

replace snowflaked create with custom function
  opsqueue/src/producer/client.rs
Due: rustfmt

moved to proper module
  Cargo.lock
  Cargo.toml
  opsqueue/benches/snowflake_compare.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/snowflake.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/producer/client.rs
Due: rustfmt

Increment retries on tried Chunks
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/metastate.rs
Due: rustfmt

Remove redundant copy of vector
  libs/opsqueue_python/src/common.rs
Due: rustfmt

Fix: Uncaught Clippy warnings
  justfile
  opsqueue/src/common/submission.rs
Due: rustfmt

Test: Ensure Opsqueue stops with parent
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Test: Roundtrip chunk completion followed by failure message
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Test: Strict local timeouts
  .github/workflows/ci.yml
  .semaphore/semaphore.yml
  justfile
  libs/opsqueue_python/pyproject.toml
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Test: Nested `PreferDistinct` case
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_roundtrip.py
Due: ruff-check, ruff-format

Bump `opsqueue` version for tag and rebuild `Cargo.lock`
  Cargo.lock
  Cargo.toml
Due: none

Lint: `just lint-light --all` on GitHub
  .github/workflows/ci.yml
  .semaphore/semaphore.yml
Due: none

Shutdown on unexpected task exit
  opsqueue/app/main.rs
Due: rustfmt

Test: Bind to port `0`
  libs/opsqueue_python/tests/conftest.py
  opsqueue/src/config.rs
  opsqueue/src/server.rs
Due: ruff-check, ruff-format, rustfmt

Bump pyo3: 0.25.1 -> 0.26.0
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Bump pyo3: 0.26.0 -> 0.27.2
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
Due: rustfmt

Bump pyo3: 0.27.2 -> 0.28.3
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  libs/opsqueue_python/src/async_util.rs
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Use channable snowflaked-rs
  Cargo.lock
  Cargo.toml
Due: none

Revert "Merge #117: replace snowflaked to avoid conflicts"
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/benches/snowflake_compare.rs
  opsqueue/src/common/mod.rs
  opsqueue/src/common/snowflake.rs
  opsqueue/src/common/submission.rs
Due: rustfmt

SQL: Prevent duplicated binds
  opsqueue/src/common/submission.rs
Due: rustfmt

SQL: Filter already reserved chunks from `Chunk` selection
  Cargo.lock
  opsqueue/Cargo.toml
  opsqueue/src/common/chunk.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/dispatcher/reserver.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

fixup! SQL: Filter already reserved chunks from `Chunk` selection
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Nix: Skip `cargo check` for `opsqueue` and `opsqueue_python` when building release
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
Due: nixfmt
