Repository channable/opsqueue: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome, rustfmt, nixfmt

.pre-commit-config.yaml:

# Pre-commit config as used by ./build.py.
repos:
  # Use local to make sure the dependencies are taken from pre-commit's own environment and
  # therefore from our nix derivation.
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff linting
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff formatting
        entry: ruff format
        language: system
        types: [python]
      - id: biome
        name: Biome formatting
        entry: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [json]
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
      - id: nixfmt
        name: nixfmt
        entry: nixfmt --strict
        language: system
        types: [nix]
        exclude: extra
      - id: clippy
        name: Cargo clippy
        entry: cargo clippy --no-deps --fix --allow-dirty --allow-staged -- -Dwarnings
        language: system
        pass_filenames: false
      - id: end-of-file-fixer
        name: Ensure each file ends with a single newline
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace-fixer
        name: Trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

Document usage of multi-threaded scheduler
  libs/opsqueue_python/examples/integer_increment/integer_increment_consumer.py
  libs/opsqueue_python/examples/integer_increment/integer_increment_producer_async.py
  libs/opsqueue_python/src/common.rs
Due: ruff-check, ruff-format, rustfmt

Write integration test for async API
  libs/opsqueue_python/examples/integer_increment/integer_increment_consumer.py
  libs/opsqueue_python/src/producer.rs
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format, rustfmt

Switch IntoPy to IntoPyObject
  libs/opsqueue_python/src/producer.rs
Due: rustfmt

Add Nix 'include in other repos' instructions to README
  README.md
Due: none

Send heartbeat config to consumer on startup
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/common.rs
  opsqueue/src/consumer/server/conn.rs
Due: rustfmt

Add cbor to default.nix
  default.nix
Due: nixfmt

Move python test imports to the top
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Use CBOR as default serialization format
  libs/opsqueue_python/python/opsqueue/common.py
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format

Remove the rust-toolchain file:
  rust-toolchain
Due: none

Allow calling object_store with extra opts
  libs/opsqueue_python/python/opsqueue/consumer.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/object_store/mod.rs
Due: ruff-check, ruff-format, rustfmt

Lint
  libs/opsqueue_python/python/opsqueue/consumer.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/object_store/mod.rs
Due: ruff-check, ruff-format, rustfmt

Exercise PreferDistinct in Python test suite
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format

Add example for PreferDistinct
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_consumer_preferdistinct.py
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_producer.py
  libs/opsqueue_python/examples/multiprocessing/multiprocessing_producer_many.py
Due: ruff-check, ruff-format

Ensure constructing the PreferDistinct strategy from Python is idiomatic
  libs/opsqueue_python/python/opsqueue/consumer.py
  libs/opsqueue_python/src/common.rs
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/lib.rs
  libs/opsqueue_python/tests/conftest.py
  libs/opsqueue_python/tests/test_rountrip.py
Due: ruff-check, ruff-format, rustfmt

Improve UX of using typed connections
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/db/mod.rs
Due: rustfmt

Fix the python library build
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/strategy.rs
Due: rustfmt

Polish typed connections API and use sites
  opsqueue/app/main.rs
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/consumer/server/state.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
  opsqueue/src/server.rs
Due: rustfmt

Add doc + example for opsqueue::db
  opsqueue/src/db/mod.rs
Due: rustfmt

Further polishing of opsqueue::db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/db/conn.rs
  opsqueue/src/db/mod.rs
Due: rustfmt

Improve docs/public API of opsqueue::db
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/server.rs
Due: rustfmt

Separate readers from writers
  opsqueue/src/common/chunk.rs
  opsqueue/src/common/submission.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/dispatcher/mod.rs
  opsqueue/src/consumer/server/mod.rs
  opsqueue/src/db/mod.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/prometheus.rs
Due: rustfmt

Include cargo version and git version in the Rust source
  Cargo.lock
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/Cargo.toml
  opsqueue/app/main.rs
  opsqueue/src/lib.rs
Due: rustfmt

Producer API: version endpoint + client method
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/producer/client.rs
  opsqueue/src/producer/server.rs
  opsqueue/src/server.rs
Due: ruff-check, ruff-format, rustfmt

Make mypy happy
  libs/opsqueue_python/python/opsqueue/consumer.py
  libs/opsqueue_python/python/opsqueue/producer.py
Due: ruff-check, ruff-format

Make the embedded git version work with Nix
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
  opsqueue/src/lib.rs
Due: rustfmt, nixfmt

Clean up logging for ProducerClient initialization
  libs/opsqueue_python/opsqueue_python.nix
  libs/opsqueue_python/python/opsqueue/consumer.py
  libs/opsqueue_python/python/opsqueue/producer.py
  libs/opsqueue_python/src/consumer.rs
  libs/opsqueue_python/src/producer.rs
  opsqueue/src/consumer/client.rs
Due: ruff-check, ruff-format, rustfmt, nixfmt

Log server function on client connect
  libs/opsqueue_python/src/consumer.rs
  opsqueue/src/consumer/client.rs
  opsqueue/src/consumer/common.rs
  opsqueue/src/consumer/server/conn.rs
Due: rustfmt

Allow overriding trace sampling
  opsqueue/app/main.rs
Due: rustfmt

niv-testing
  opsqueue/opsqueue.nix
Due: nixfmt

Hide git hash under Nix
  libs/opsqueue_python/opsqueue_python.nix
  opsqueue/opsqueue.nix
  opsqueue/src/lib.rs
Due: rustfmt, nixfmt

Set Opsqueue SemVer version to 0.21.0, to match next Provision tag
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Removes the initial skipping of messages by the Consumer until an Init message is found
  opsqueue/src/consumer/client.rs
Due: rustfmt

Bump semver version
  Cargo.lock
  libs/opsqueue_python/Cargo.toml
  opsqueue/Cargo.toml
Due: none

Attempt to use Just in the Semaphore jobs
  .semaphore/semaphore.yml
Due: none

Rip out the Devops niv pin, build_util and build.py
  build.py
  default.nix
  libs/opsqueue_python/opsqueue_python.nix
  nix/nixpkgs-pinned.nix
  nix/overlay.nix
  nix/sources.json
  opsqueue/Cargo.toml
  opsqueue/opsqueue.nix
Due: ruff-check, ruff-format, biome, nixfmt

Ensure that integration tests via Nix also no longer need build_util's Nix building helper
  libs/opsqueue_python/tests/conftest.py
Due: ruff-check, ruff-format

Fix running pre-commit under Just
  justfile
Due: none

Also add integration tests running through Nix again
  justfile
Due: none

Adds a justfile as alternative to build.py
  .pre-commit-config.yaml
  default.nix
  justfile
Due: nixfmt

Replace usage of build.py in readme with just
  README.md
  justfile
Due: none
